@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


h1,h2,h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html.dark {
  filter: invert(1) hue-rotate(180deg);
}

html.dark img,
html.dark video,
html.dark svg {
  filter: invert(1) hue-rotate(180deg);
}

html.dark-invert {
  filter: invert(1) hue-rotate(180deg);
}

html.dark-invert img,
html.dark-invert video,
html.dark-invert iframe {
  filter: invert(1) hue-rotate(180deg);
}

html.dark-invert footer {
  filter: invert(1) hue-rotate(180deg); 
}